.task-dashboard{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.task-pannel{
    border-radius: 3px;
    width: 100%;
    padding: 0.6rem;
    box-sizing: border-box;
    overflow-y: scroll;
    min-height: 98vh;
}

.backlog {
    border: 0.1rem solid #69d8fb;
}
.inprogress {
    border: 0.1rem solid #fb8c4b;

}
.resolved {
    border: 0.1rem solid #26cd7f;
}


.title{
    position: sticky;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.panel-backlog, .backlog .backlog-board{
    background: #69d8fb;
}

.panel-inprogress, .inprogress .backlog-board{
    background-color: #fb8c4b;
}

.panel-resolved, .resolved .backlog-board{
    background-color: #26cd7f;
}

.backlog-board{
    margin: 7px 10px 10px 8px;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 3px 3px 4px #c3c3c3;
}

.task-title{
    font-size: 1.8rem;
    font-weight: 400;
}

.icon-option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f8ff;
  cursor: pointer;
  margin-right: 5px;
      font-size: 24px;
  border-radius: 15%;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.icon-option:active {
  transform: scale(0.95);
}


@media (min-width: 768px) {
  .task-pannel {
    width: calc((100% - 2rem) / 3);
  }
}