<div>
  <app-task-form
    [formType]="formtype"
    (formUpdate)="formUpdate($event)"
  ></app-task-form>
</div>
<div *ngIf="showForm" class="task-dashboard">
  <div class="task-pannel backlog">
    <div class="title panel-backlog">Backlog</div>
    <div *ngFor="let task of allTask">
      <div *ngIf="task.status == 'backlog'" class="backlog-board">
        <div class="task-title">{{ task.title }}</div>
        <div class="task-desc">{{ task.description }}</div>
      </div>
    </div>
  </div>
  <div class="task-pannel inprogress">
    <div class="title panel-inprogress">In Progress</div>
    <div *ngFor="let task of allTask">
      <div *ngIf="task.status == 'inprogress'" class="backlog-board">
        <div class="task-title">{{ task.title }}</div>
        <div class="task-desc">{{ task.description }}</div>
      </div>
    </div>
  </div>
  <div class="task-pannel resolved">
    <div class="title panel-resolved">Resolved</div>
    <div *ngFor="let task of allTask">
      <div *ngIf="task.status == 'resolved'" class="backlog-board">
        <div class="task-title">{{ task.title }}</div>
        <div class="task-desc">{{ task.description }}</div>
      </div>
    </div>
  </div>
</div>
