<div class="task-dashboard">

<!-- <div><app-nav></app-nav></div> -->

    <div class="col-md-3 task-pannel backlog">
        <div class="title panel-backlog">Backlog</div>
         <div class="backlog-board">
            <div class="task-title">Create Student Form</div>
            <div class="task-desc">I want to create a student form with name, age, address, contact. This example demonstrates how to set the color of the four borders. It can have from one to four colors.</div>
        </div>
        <div class="backlog-board">
            <div class="task-title">Create Student Form</div>
            <div class="task-desc">I want to create a student form with name, age, address, contact. This example demonstrates how to set the color of the four borders. It can have from one to four colors.</div>
        </div>
    </div>
    <div class="col-md-3 task-pannel inprogress">
        <div class="title panel-inprogress">In Progress</div>
        <div class="backlog-board">
            <div class="task-title">Create Student Form</div>
            <div class="task-desc">I want to create a student form with name, age, address, contact. This example demonstrates how to set the color of the four borders. It can have from one to four colors.</div>
        </div>
    </div>
    <div class="col-md-3 task-pannel resolved">
        <div class="title panel-resolved">Resolved</div>
             <div class="backlog-board">
            <div class="task-title">Create Student Form</div>
            <div class="task-desc">I want to create a student form with name, age, address, contact. This example demonstrates how to set the color of the four borders. It can have from one to four colors.</div>
        </div>
    </div>
</div>