<div class="container">
  <div
    class="modal fade"
    id="exampleModal"
    #exampleModal
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            {{ dialogTitle }}
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <form [formGroup]="TaskForm">
            <div>
              <div class="form-group">
                <label class="title-label" for="title">Title</label>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Title"
                  id="title"
                  formControlName="title"
                />
                <div
                  class="error-message"
                  *ngIf="title?.touched && title?.invalid"
                >
                  <span *ngIf="title?.errors?.['required']">
                    Title is required.
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="title-label" for="description">Description</label>
                <textarea
                  id="description"
                  class="form-control"
                  rows="6"
                  cols="70"
                  aria-label="Description"
                  formControlName="description"
                ></textarea>
              </div>

              <div class="form-group">
                <label class="title-label">Priority</label>
                <select
                  class="form-select"
                  formControlName="priority"
                  aria-label="Select Priority"
                >
                  <option
                    *ngFor="let priority of priorityOptions"
                    [ngValue]="priority.value"
                  >
                    {{ priority.name }}
                  </option>
                </select>
                <div
                  class="error-message"
                  *ngIf="priority.touched && priority?.invalid"
                >
                  <span *ngIf="priority?.errors?.['required']">
                    Priority is required.
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="title-label">Status</label>
                <select
                  class="form-select"
                  formControlName="status"
                  aria-label="Select Status"
                >
                  <option
                    *ngFor="let status of statusOptions"
                    [ngValue]="status.value"
                  >
                    {{ status.name }}
                  </option>
                </select>
                <div
                  class="error-message"
                  *ngIf="status.touched && status?.invalid"
                >
                  <span *ngIf="status?.errors?.['required']">
                    status is required.
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button class="btn btn-primary" (click)="onSubmit(1)">
            {{ formType === "update" ? "Update" : "Save" }}
          </button>
          <button class="btn btn-success" (click)="onSubmit(2)">
            {{ formType === "update" ? "Update" : "Save" }} & New
          </button>
          <button
            class="btn btn-danger"
            *ngIf="formType == 'update'"
            (click)="deleteTask()"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
