<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
      <form [formGroup]="TaskForm" (ngSubmit)="onSubmit()">
        <div>
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              formControlName="title"
            />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              class="form-control"
              rows="10"
              cols="70"
              formControlName="description"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="priority">Priority</label>
            <input
              type="text"
              id="priority"
              class="form-control"
              formControlName="priority"
            />
          </div>

          <div class="form-group">
            <label for="status">Status</label>
            <input
              type="text"
              id="status"
              class="form-control"
              formControlName="status"
            />
          </div>

          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
